{{ define "main" -}}
<div class="post">
  <h1>{{ .Title }}</h1>
  <time datetime={{ .Date.Format "2006-01-02T15:04:05Z0700" }} class="post-date">{{ .Date.Format "Mon, Jan 2, 2006"
    }} &middot; <span class="read-time">{{ if lt (math.Round (div (countwords .Content) 250.0)) 1 }}1{{ else
      }}{{
      (math.Round (div (countwords .Content) 250.0)) }}{{ end }} min read</span></time>
  {{ range (.GetTerms "tags") }}
  <div class="chip">
    <a href="{{ .Permalink }}/">{{ .LinkTitle }}</a>
  </div>
  {{ end }}
  <br><br>
  {{ .Content }}
</div>

{{ if .Site.DisqusShortname -}}
<h2>Comments</h2>
{{ template "_internal/disqus.html" . }}
{{- end }}

{{ $currentArticle := . }}
{{ $articles := where
(where $.Site.Pages ".Kind" "eq" "page")
".Title" "!=" $currentArticle.Title }}
{{ $veryRelevantArticles := slice }}
{{ $relevantArticles := slice }}
{{ range $idx, $article := $articles }}
{{ $numberOfIntersections := len (
intersect $article.Params.tags $currentArticle.Params.Tags
) }}
{{ if (ge $numberOfIntersections 2) }}
{{ $veryRelevantArticles =
$veryRelevantArticles | append $article }}
{{ else if (eq $numberOfIntersections 1) }}
{{ $relevantArticles =
$relevantArticles | append $article }}
{{ end }}
{{ end }}
{{ $recommendedArticles := slice }}
{{ range $veryRelevantArticles }}
{{ $recommendedArticles = $recommendedArticles | append . }}
{{ end }}
{{ range $relevantArticles }}
{{ $recommendedArticles = $recommendedArticles | append . }}
{{ end }}

{{ if $recommendedArticles }}
<h2>Recommended Articles</h2>
{{end}}
<ul>
  {{ range (shuffle (first 5 $recommendedArticles)) }}
  <li>
    <a href="{{ .Permalink }}">
      {{ .Title }}
    </a>
  </li>
  {{ end }}
</ul>

<h2>Comments</h2>
{{ partial "footer.html" . }}
{{- end }}