<aside class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <a href="{{ .Site.BaseURL }}">
        <h1>{{ .Site.Title }}</h1>
      </a>
      <p class="lead">
        <a href="https://github.com/minghsu0107"> <i class="fab fa-github"></i></a>&nbsp;&nbsp;<a
          href="https://linkedin.com/in/hao-ming-hsu-178176181"> <i class="fab fa-linkedin"></i></a><br>
        <a href="/about">Hao-Ming Hsu (許浩鳴)</a><br>
        {{ with .Site.Params.description }} {{.}} {{ else }}Learn by Doing. <br><a
          href="https://github.com/minghsu0107">@minghsu0107</a>{{end}}
      </p>
    </div>
    <nav>
      <ul class="sidebar-nav">
        {{ range .Site.Menus.main -}}
        <li><a href="{{.URL}}"> {{ .Name }} </a></li>
        {{- end }}
      </ul>
    </nav>
    <section class="resume-section p-3 p-lg-5 d-flex flex-column" style="width: 50%;
    margin: 0 auto;">
      <div>
        <form action={{ "search" | absURL }}>
          <input placeholder="search" class="searchTerm" id="search-query" name="s" />
        </form>
      </div>
    </section>
    <br>
    <p>{{ with .Site.Params.copyright }}{{.}}{{ else }}&copy; {{ now.Format "2006"}}. All rights reserved. {{end}}</p>
  </div>
</aside>